{% extends "header.html" %}
{% block title %}PROFILE{% endblock %}
{% block head %} 
{{ super() }}
<style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    .othertop{margin-top:10px;}
    </style> 
{% endblock %}
{% block body %}
<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('explore') }}">Tourist NYC</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('explore') }}">EXPLORE</a></li>
                <li class="active"><a href="{{ url_for('profile') }}">PROFILE</a></li>
                <li><a href="{{ url_for('trips') }}">TRIPS</a></li>
                <li><a href="{{ url_for('events') }}">EVENTS</a></li>
                <li><a href="{{ url_for('groups') }}">GROUPS</a></li>
                <li><a href="{{ url_for('login') }}" style="margin-left: 40em">LOGIN</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    
<div class="container" style="margin-top: 5em">
<div class="row">
<div class="col-md-10 ">
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Update Profile</legend>
<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" for="Name (Full name)">Name (Full name)</label>  
  <div class="col-md-4">
    <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-user">
        </i>
       </div>
       <input id="Name (Full name)" name="Name (Full name)" type="text" placeholder="Name (Full name)" class="form-control input-md">
    </div>    
  </div> 
</div>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="Upload photo">Upload photo</label>
  <div class="col-md-4">
    <input id="Upload photo" name="Upload photo" class="input-file" type="file">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Email Address">Email Address</label>  
  <div class="col-md-4">
  <div class="input-group">
       <div class="input-group-addon">
     <i class="fa fa-envelope-o"></i>
        
       </div>
    <input id="Email Address" name="Email Address" type="email" placeholder="Email Address" class="form-control input-md">    
      </div>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Password ">Password </label>  
  <div class="col-md-4">
  <div class="input-group">
       <div class="input-group-addon">
     <i class="fa fa-phone"></i>
        
       </div>
    <input id="Password " name="Password " type="password" placeholder="Enter Password " class="form-control input-md">
    
      </div>
      <div class="input-group othertop">
       <div class="input-group-addon">
     <i class="fa fa-mobile fa-1x" style="font-size: 20px;"></i>
        
       </div>
    <input id="Password " name="Password " type="password" placeholder="Confirm Password " class="form-control input-md">
    </div>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="PIN">PIN Number</label>  
  <div class="col-md-4">
  <div class="input-group">
       <div class="input-group-addon">
     <i class="fa fa-birthday-cake"></i>        
       </div>
       <input id="PIN" name="PIN" type="password" placeholder="Enter PIN" class="form-control input-md">
      </div>    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Phone number">Phone numbers </label>  
  <div class="col-md-4">
  <div class="input-group">
       <div class="input-group-addon">
     <i class="fa fa-phone"></i>
        
       </div>
    <input id="Phone number " name="Phone number " type="tel" placeholder="Primary Phone number " class="form-control input-md">
    
      </div>
      <div class="input-group othertop">
       <div class="input-group-addon">
     <i class="fa fa-mobile fa-1x" style="font-size: 20px;"></i>
        
       </div>
    <input id="Phone number " name="Secondary Phone number " type="tel" placeholder="Secondary Phone number " class="form-control input-md">
    </div>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Date Of Birth">Date Of Birth</label>  
  <div class="col-md-4">
  <div class="input-group">
       <div class="input-group-addon">
     <i class="fa fa-birthday-cake"></i>        
       </div>
       <input id="Date Of Birth" name="Date Of Birth" type="date" placeholder="Date Of Birth" class="form-control input-md">
      </div>    
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Gender">Gender</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="Gender-0">
      <input type="radio" name="Gender" id="Gender-0" value="1" checked="checked">
      Male
    </label> 
    <label class="radio-inline" for="Gender-1">
      <input type="radio" name="Gender" id="Gender-1" value="2">
      Female
    </label> 
    <label class="radio-inline" for="Gender-2">
      <input type="radio" name="Gender" id="Gender-2" value="3">
      Other
    </label>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Points of Interest">Points of Interest</label>
  <div class="col-md-4">
  <div class="checkbox">
    <label for="POI0">
      <input type="checkbox" name="Points of Interest" id="POI0" value="1">
      History
    </label>
    </div>
  <div class="checkbox">
    <label for="POI1">
      <input type="checkbox" name="Points of Interest" id="POI1" value="2">
      Art
    </label>
    </div>
  <div class="checkbox">
    <label for="POI2">
      <input type="checkbox" name="Points of Interest" id="POI2" value="3">
      Music
    </label>
    </div>
  <div class="checkbox">
    <label for="POI3">
      <input type="checkbox" name="Points of Interest" id="POI3" value="4">
      Theater
    </label>
    </div>
  <div class="checkbox">
    <label for="POI4">
      <input type="checkbox" name="Points of Interest" id="POI4" value="5">
      Shopping
    </label>
    </div>
  <div class="checkbox">
    <label for="POI5">
      <input type="checkbox" name="Points of Interest" id="POI5" value="6">
      Food
    </label>
    </div>
  <div class="checkbox">
    <label for="POI6">
      <input type="checkbox" name="Points of Interest" id="POI6" value="7">
      Sports
    </label>
    </div>
  <div class="checkbox">
    <label for="POI7">
      <input type="checkbox" name="Points of Interest" id="POI7" value="8">
      Parks
    </label>
    </div>

<div class="othertop">
    <label for="POI7">  
    </label>
     <input type="input" name="Points of Interest" id="POI7" placeholder="Add Point of Interest">
    </div>    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" ></label>  
  <div class="col-md-4">
  <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-thumbs-up"></span> Update profile</a>
  <a href="#" class="btn btn-danger" value=""><span class="glyphicon glyphicon-remove-sign"></span> Clear</a>
    
  </div>
</div>

</fieldset>
</form>
</div>
<div class="col-md-2 hidden-xs">
<img src="http://websamplenow.com/30/userprofile/images/avatar.jpg" class="img-responsive img-thumbnail ">
</div>


</div>
   </div>
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}

