{% extends "header.html" %}
{% block title %}LOGIN{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}  

<body>
  <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('explore') }}">Tourist NYC</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('explore') }}">EXPLORE</a></li>
                <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
                <li><a href="{{ url_for('trips', group='none') }}">TRIPS</a></li>
                <li><a href="{{ url_for('events', group='none') }}">EVENTS</a></li>

                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MORE<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Advisor</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->

                <li class="active"><a href="{{ url_for('login') }}" style="margin-left: 40em">LOGIN</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <div class="container marketing">


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert" align="center" style="margin: 5.5em auto 4em auto;background: #FFFF33" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    {% endfor %}

    </div>
    {% endif %}
    {% endwith %} 

    <div class="form-style-5" style="margin:16.5em 25em 16.5em 25em">
	    <form action="/login" method="POST">
		    <fieldset>
			    <legend>Login</legend>
			    <input type="email" name="email" placeholder="Email">
			    <input type="password" name="password" placeholder="Password">
			    <input type="password" name="pin" placeholder="PIN">      
		    </fieldset>
		    <input type="submit" value="Sign In" />
	    </form>
	    <p align="Center" style="margin-top:4.5em"><a href="{{ url_for('signup') }}">Create account<a/></p> 
    </div>
      

      <footer>
         <p>&copy; 2016 Tourist NYC, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">  Terms</a></p>
      </footer>
 </div>
	
</body>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}

