{% extends "header.html" %}
{% block title %}SiGN UP{% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block body %}  
<body>


  <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('explore') }}">Tourist NYC</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('explore') }}">EXPLORE</a></li>
                <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
                <li><a href="{{ url_for('trips') }}">TRIPS</a></li>
                <li><a href="{{ url_for('events') }}">EVENTS</a></li>

                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MORE<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Advisor</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->

                <li class="active"><a href="{{ url_for('login') }}" style="margin-left: 40em">LOGIN</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <div class="container marketing">


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if 'error' in category %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert" align="center" style="margin: 10em auto 6em auto;background: #FF0000" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
    </div>
    {% elif 'unfinished' in category %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert" align="center" style="margin: 6em auto 6em auto;background: #FFFF33" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{ message }}
      </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %} 



    <div class="form-style-5" style="margin-top:12.5em auto 12.5em auto">
	    <form action="{{ url_for('signup') }}" method="POST">
		    <fieldset>
			    <legend>Sign Up</legend>
          <label for="Email">Choose your Email</label>
			    <input type="email" name="email" placeholder="Email">
          <label for="Password">Choose your Password</label>
			    <input type="password" name="password" placeholder="Password">
          <label for="Confirm">Confirm your password</label>
          <input type="password" name="confirm" placeholder="Re-type Password">
          <label for="Phone Number">Phone Number</label>
          <input type="text" name="telephone" placeholder="Phone Number">
          <label for="Birthday">Birthday</label>
          <input type="date" name="birthday" placeholder="MM/DD/YY">

		    </fieldset>
        <label for="country">Country</label>
        <select id="country_list" name="cnt">
          <optgroup label="North America">
            <option value="Canada">Canada</option>
            <option value="Mexico">Mexico</option>
            <option value="United States">United States</option>
          </optgroup>
          <optgroup label="South America">
            <option value="Argentina">Argentina</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Brazil">Brazil</option>
            <option value="Chile">Chile</option>
             <option value="Columbia">Columbia</option>
             <option value="Ecuador">Ecuador</option>
             <option value="French Guiana">French Guiana</option>
             <option value="Guyana">Guyana</option>
             <option value="Paraguay">Paraguay</option>
             <option value="Peru">Peru</option>
             <option value="Suriname">Suriname</option>
             <option value="Uruguay">Uruguay</option>
             <option value="Venezuela">Venezuela</option>
          </optgroup>
          <optgroup label="Asia">
             <option value="China">China</option>
          </optgroup>
          
        </select>
        <label for="Gender">Gender</label>
        <select id="Gender List" name="sex">
          <option value="Male">Male</option>
          <option value="Femable">Female</option>
        </select>
        <label for="Security">Choose your security PIN number</label>
        <input type="password" name="pin" placeholder="Choose your PIN number">
		    <input type="submit" value="Sign Up" />
	    </form>
	 
    </div>
      

      <footer>
         <p>&copy; 2016 Tourist NYC, Inc. &middot; <a href="#">Privacy</a> &middot;<a href="#">Terms</a></p>
      </footer>
 </div>
	
</body>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}

