{% extends "header.html" %}
{% block title %}TRIPS{% endblock %}
{% block head %} 
{{ super() }} 
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/trips.css') }}" /> -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/events.css') }}" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<style>
  html { 
      background: url('http://wallpapercave.com/wp/TSlZ57J.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
</style>
{% endblock %}
{% block body %}

<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>              
              <a class="navbar-brand" href="{{ url_for('explore') }}">Tourist NYC</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('explore') }}">EXPLORE</a></li>
                <li><a href="{{ url_for('profile') }}">PROFILE</a></li>
                <li class="active"><a href="{{ url_for('trips', group='none') }}">TRIPS</a></li>
                <li><a href="{{ url_for('events', group='none') }}">EVENTS</a></li>
                <li><a href="{{ url_for('groups') }}">GROUPS</a></li>

                {% if not username %}
                  <li><a href="{{ url_for('login') }}" style="margin-left: 40em">LOGIN</a></li>
                {% else %}
                  <li><a href="{{ url_for('logout') }}" style="margin-left: 33.5em">LOG OUT</a></li>
                {% endif %}

              </ul>
            </div>
          </div>
        </nav>

      </div>
</div>

<div class="container" style="margin-top: 5em">
      <div class="row">
        <div class="[ col-xs-12 col-sm-offset-1 col-sm-10 ]">
          <ul class="event-list">
            
            {% for interest in destinations %}
              <li>
                <img alt={{ interest[6] }} src={{ interest[5] }} />
                <div class="info" data-url={{interest[7]}}>                  
                  <h2 class="title">{{ interest[6].replace("_", " ") }}<img src = {{interest[11]}}></img></h2>
                   <p class="desc">
                    {% set address = interest[9].split('_') %}
                    {% for addressline in address %}
                      {{addressline.replace("-", " ")}}<br>
                    {% endfor %}
                    {{interest[10]}}
                  </p>
                </div>
                <div class="social" style="height: 100%">
                  <ul style="width:33%; height: 100%">
                    <li class="google-plus" style="width:33%; height: 150px">
                      <a data-url={{interest[7]}} class="removeFromTrips" style="height: 150px">
                        <span class="fa fa-minus"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

<nav aria-label="..." style="text-align: center">
  <ul class="pagination pagination-lg">
    {% for i in range(0, tripsList|length)%} 
    {% set pathlist=request.path[:-1] %} 
    <li><a href="{{pathlist}}{{i+1}}">{{i+1}}</a></li>
    {% endfor %}
  </ul>
</nav>

<script>
      $('.removeFromTrips').each(function(){
          $(this).click(function(){
              console.log($(this).data());
              $.post("/removeTrip", $(this).data());
              setTimeout(function(){
                var url = location.href.split("/");
                var i, newUrl="";
                for (i=0; i<5; i++) {
                  newUrl+=url[i]+"/";
                }
                newUrl+="1";
                location.href = newUrl;
              },300);               
          });
      });

      $('.info').each(function(){
          $(this).css("cursor", "pointer");
          $(this).click(function(){
              window.open($(this).data().url);  
          });
      });
</script>

{% endblock %}
{% block footer %} {{ super() }} {% endblock %}



